/* App.css */

/* Estilização do header com o logo */
header {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}

header img {
  height: 350px;
}

/* Estilização dos títulos */
h1, h2 {
  color: white;
  font-family: Arial , sans-serif; /* Fonte diferenciada para títulos */
  font-size: 24px; /* Tamanho ajustado para o título principal */
  margin-bottom: 20px;
  text-align: center; /* Centralizar o título principal */
}

/* Estilização do plano de fundo roxo com temática de espaço/universo */
body {
  background-image: url('../images/1219623.jpg'); /* Plano de fundo corrigido */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilização dos blocos abaixo do header */
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilização do bloco de "TODAS AS CARTAS" */
.filteredCards {
  margin-top: 20px;
  text-align: center; /* Centralizar as cartas */
}

/* Estilização das cartas salvas em formato de grade */
.cards {
  display: grid;
  grid-gap: 20px; /* Espaçamento entre as cartas */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center; /* Centralizar na horizontal */
  margin-top: 20px;
}

/* Estilização do botão de excluir */
button {
  background-color: #4d0492; /* Fundo roxo */
  border: none;
  border-radius: 5px; /* Borda arredondada */
  color: white; /* Cor branca */
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px 15px; /* Espaçamento interno */
}

button:hover {
  background-color: #66008f; /* Efeito de hover */
}

.cardWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
