/* Form.css */

/* Estilização básica do formulário */
.Inputs {
  background-color: #4d0492; /* Fundo roxo */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  padding: 15px;
  width: 230px; /* Tamanho ajustado para ser igual ao da carta */
}

/* Estilo das labels */
.Inputs label {
  color: white; /* Cor branca */
  display: grid;
  font-size: 14px;
  font-weight: 500;
  grid-column: 1 / 2;
  margin-bottom: 5px;
  text-align: left;
}

/* Estilo dos inputs de texto */
.Inputs input [ type = 'text' ] {
  background-color: whitesmoke; /* Fundo cinza claro */
  border: 1px solid #ccc;
  border-radius: 10px; /* Borda arredondada */
  color: #4d0492; /* Cor roxa */
  flex-direction: column;
  font-size: 10px;
}

/* Estilo do textarea */
.Inputs textarea {
  background-color: whitesmoke; /* Fundo cinza claro */
  border: 1px solid #ccc;
  border-radius: 5px; /* Borda arredondada */
  color: #4d0492; /* Cor roxa */
  font-size: 13px;
  height: 35px; /* Altura ajustada */
  resize: none; /* Impede redimensionamento */
  width: 97%;
}

/* Estilo dos inputs numéricos */
.Inputs input [ type = 'number' ] {
  background-color: whitesmoke; /* Fundo cinza claro */
  border: 1px solid #ccc;
  border-radius: 20px; /* Borda arredondada (valores mais arredondados) */
  color: #4d0492; /* Cor roxa */
  font-size: 10px;
  width: 100%;
}

.checkbox-input {
  display: flex;
}

/* Estilo do checkbox */
.Inputs input [ type = 'checkbox' ] {
  margin-right: 5px;
}

/* Estilo do botão */
.Inputs button {
  background-color: #4d0492; /* Fundo roxo */
  border: none;
  border-radius: 5px; /* Borda arredondada */
  color: white; /* Cor branca */
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px; /* Espaçamento interno */
  width: 100%;
}

.Inputs button:disabled {
  background-color: #ccc; /* Fundo cinza claro */
  color: #666; /* Cor cinza */
  cursor: not-allowed;
}
